---
interface Props {
  textoBoton: string;
  class?: string;
  type?: "submit" | "button" | "reset";
  href?: string;
}

const {
  textoBoton,
  class: className = "button1",
  type = "submit",
  href,
  ...props
} = Astro.props;
---

{href
  ? <a href={href} class={className} {...props}>{textoBoton}</a>
  : <button class={className} type={type} {...props}>{textoBoton}</button>
}