---
<<<<<<< HEAD
interface Props {
  textoBoton: string;
  class?: string;
  type?: "submit" | "button" | "reset";
  href?: string;
}

const {
  textoBoton,
  class: className = "button1",
  type = "submit",
  href,
  ...props
} = Astro.props;
---

{href
  ? <a href={href} class={className} {...props}>{textoBoton}</a>
  : <button class={className} type={type} {...props}>{textoBoton}</button>
}
=======

interface Props {
  "texto-boton": string;
  class?: string;
}

const { "texto-boton": textoBoton, class: className = "button1" } = Astro.props;
---
<button class={className}>{textoBoton}</button>
>>>>>>> 291e8be88fc8c9084ff86c00e59c808ef028634a
